@import "_colors";
.main-blocks {
			width: 100%;
			height: 300px;
			background: $bg;
			position: relative;
			display: flex;
			-webkit-flex-wrap: nowrap; /* Safari */
			flex-wrap: nowrap;

			.v-border{
				height: 100%;
				width: 20px;
				background: $borderColor;
				margin: 0;
				padding: 0;
			}
			.left-border{
				border-right: 1px solid $grey;
			}

			.block{
				height: 80%;

				.header{
					background: $headerBg;
					height: 15%;
					// width: 100%;
					border-bottom: 1px solid $headerBorder;
				}
			}

			.props-block{
				width: 50%;
				position: relative;
				.header{
					overflow: hidden;
					position: relative;
					.tabs{
						float: left;
						margin-left: 30px;
						.tab{
							// width: 50px;
							border-radius: 3px;
							padding: 3px 10px;;
							margin-top: 3px;
							text-transform: uppercase;
							color: rgba(255,255,255, .9);
							text-align: center;
							font-size: 14px;
							font-weight: 400;
							line-height: 20px;
							height: 24px;
							background: #343436;
							display: inline-block;
							transition: all .4s ease-in-out;
							&.active{
								background: #4d4d50;
								font-weight: 600;
								padding: 3px 15px;
							}
							&:hover{

								cursor: pointer;
							}
						}
					}
					.add-input{
						position: absolute;
						right: 10px;
						top: -5px;

						font-size: 20px;
						// z-index: 10000;
						color: #fff;
						opacity: 1;
						height: 30px;
						// width: 100px;
						overflow: hidden;
						transition: all .1s ease-in-out;
						transition-delay: .2s;

						span{
							line-height: 30px;
							display: inline-block;
							font-size: 14px;
							margin-right: 10px;
						}
						&:hover{
							cursor: pointer;
						}
						&.hide{
							// width: 0;
							// height: 0;
							// right: -40px;
							// top: -5px;
							opacity: 0;
							transition: all .2s ease-in-out;
							transition-delay: .2s;
						}
					}
					.select{
						float: right;
						display: none;
						width: 150px;
						&.active{
							display: block;
							margin-top: 5px;
							margin-right: 10px;
							transition: all .2s ease-in-out;
							transition-delay: .1s;
							// padding: 2px 4px;
							position: relative;
							&:after{
								content: "";
								position: absolute;
								display: block;
								height: 20px;
								top: 0;
								width: 0%;
								right: 0;
								transition: all .2s ease-in-out;
								transition-delay: .2s;
								background: rgba(255,255,255, .3);
							}
							&.anim-active{
								border-left: 1px solid #000;
								// border-bottom: 1px solid #000;
								// background: #3a3838;
								&:after{
									width: 100%;
								}
							}
						}
						input{
						    background: transparent;
						    color: #fff;
						    width: 100%;
						    font-size: 12px;
						    padding: 2px 2px 4px 4px;
						    border: none;
						    height: 100%;
						    opacity: 0;
						    pointer-events: none;
						    transition: all .4s ease-in-out;
						    position: relative;
							&:focus{
								pointer-events: all;
								opacity: 1;
								// padding: 2px 2px 4px 4px;
								//  font-size: 12px;
								outline: none;
							}
						}
					}
				}
				.values{
					// width: 100%;props-block
					height: 100%;

					padding: 15px;
					color: $textColor;
					#css-props{
						height: 232px;
						overflow:auto;
						.delete-input{
							display: inline-block;
							vertical-align: bottom;
							color: $textColor;
							margin-left: 4px;
							font-size: 18px;
							transition: all .4s ease-in-out;
							&:hover{
								color: #f00;
								cursor: pointer;
							}
						}
					}
					.tabs-content{
						.tab-cont{
							display: none;
							&.active{
								display: block;
							}
						}
					}
					.nice-select{
						display: inline-block;
						float: none;
						height: 20px;
						line-height: 20px;
						background: transparent;
						border-radius: 0;
						text-align: center !important;
						border: none;
						width: 177px;
						border-left: 1px solid #000;
						border-bottom: 1px solid #000;
						.current{
							display: inline-block;
							max-width: 90%;
							overflow: hidden;
							-ms-text-overflow: ellipsis;
							text-overflow: ellipsis;
						}
						.list{
							background: #1d1f20;
							z-index: 11;
						}
					}
					.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus{
						background: #343436;
					}
					// #anim-props{
						label{
							display: inline-block;
							padding-top: 0 !important;
							width: 155px;
							text-align: left !important;
						}
					// }
					.group{
						margin-bottom: 8px;

						label{
							text-align: right;
							position: relative;
							padding-top: 20px;
							margin-right: 10px;
							vertical-align: bottom;
						}

						input{
							background: $grey;
							color: #fff;
							padding: 2px 2px 4px 4px;
							border: none;
							border-left: 2px solid #000;
							border-bottom: 1px solid #000;
							&.atention{
								border-color: #f00;
							}
							&:focus{
								outline: none;
							}

						}
						.infinite{
							display: inline-block;
							width: 22px;
							transform: translateY(6px);
							height: 20px;
							background: url(../img/infinite.png);
							-webkit-background-size: cover;
							-o-background-size: cover;
							background-size: cover;
							&:hover{
								cursor: pointer;
								background: url(../img/infinite-white.png);
								background-size: cover;
							}
						}
						button{
							outline: none;
							border:none;
							background: $grey;
							color: #fff;
							padding: 4px 12px 4px 12px;
						}

					}

				}
				.keyframe-tab{
					display: none;
					&.active{
						display: block;
					}
				}
				.curve-wrap{
					width: 338px;
					height: 440px;
					padding-right: 20px;
					position: absolute;
					top: 0;
					padding: 6px;
					z-index: 99;
					background: $borderColor;
					border: 1px solid #000;

					&.hidden{
						display: block;
						position: absolute;
						left: -9999px
					}
					.header{
						height: 40px;
						text-transform: uppercase;
						font-size: 18px;
						text-align: left;
						font-weight: bold;
						background: $headerBg;

						span{
							display: inline-block;
							height: 100%;
							line-height: 40px;
							margin-left: 20px;
							vertical-align: bottom;
						}
					}
					.curve-block{
						height: 330px;
						width: 320px;
						background: $bg;
						position: relative;
						.svg-block{
							width: 290px;
							height: 290px;
							border: 1px solid #000;
							background: url('/img/grid.png');
							margin: 5px 0 0 5px;
						}

						.curve-line{
							background: $skype;
						}
						.coordinate-plane{
							left: 20px;
							right: auto;
						}
					}
					.group-buttons{
						height: 40px;
						margin-top: 20px;
						width: 100%;
						// background: $grey;
						// border-top: 1px solid $grey;
						font-size:0;

						.btn{
							float: left;
							width: 50%;
							height: 40px;
							outline: none;
							border:none;
							margin: 0;
							color: $textColor;
							text-transform: uppercase;
							font-size: 18px;
							line-height: 40px;
							text-align: center;
							font-weight: bold;
							background: $headerBg;
							transition: background .2s ease-in;

							&:hover, &:focus, &.active{
								cursor: pointer;
								box-shadow: none;
								border: none;
								outline: none;
								color: #fff;
								background: $grey;
							}
						}
					}
				}
			}

			.css-block{
				// min-width: 300px;
				width: 50%;
				// max-width: 650px;
				.header{
					padding: 0 30px;
					font-size: 13px;
					&:before{
						content: "";
						display: inline-block;
						vertical-align: middle;
						height: 100%;
					}
					h2{
						text-transform: uppercase;
						font-size: 14px;
						display: inline-block;
						line-height: 35px;
						margin: 0;
						font-size: 16px;
						font-weight: 600;
						color: #fff;
					}
					.controls-data{
						float: right;
						vertical-align: middle;
						display: inline-block;
					}
					.export, .copy, .import{
						float: right;
						margin-top: 8px;
						margin-right: 10px;
						padding: 2px 6px;
						    border-radius: 3px;
						color: rgba(255, 255, 255, 0.9);
						    background: #343436;
						vertical-align: middle;
						display: inline-block;

						&:hover{
							cursor: pointer;
						}
					}
					.export{
						position: relative;
						.text{

						}
						.input-add{
							width: 0;
							height: 0;
							opacity: 0;
							transition: all .0s ease;
							position: relative;

							input{
								width: 0;
								max-width: 100%;
								display: block;
								height: 0;
								background: #474748;
							    color: #fff;
							    border: 0;

								&:focus{
									outline: none;
								}

							}
							.export-btn{
								float: right;
							    background: #000;
							    position: absolute;
							    top: 0;
							    right: 0;
							    /* margin-top: 3px; */
							    padding: 3px 10px 4px 10px;
							}

						}
						&.show-input{
							.text, .fa:not(.export-btn){
								display: none;
							}

							.export-btn{

							}
							.input-add{
								width: 138px;

								opacity: 1;
								height: 20px;
								// margin-right: 5px;
								// float: left;
								transition: all .4s ease-in-out;

								input{
									float: left;
									border-left: 2px solid #000;
							    border-bottom: 1px solid #000;

							        padding: 2px 32px 4px 4px;
   									 width: 138px;

									height: 20px;
								}
							}

						}
					}
					.import{
						position: relative;
						width: 65px;
						overflow: hidden;
						&:hover{
							cursor: pointer;
						}
					}
					.copy{
						position: relative;
						.note{
							position: absolute;
							font-size: 13px;
							overflow: hidden;
							height: 0;
						    z-index: 99;
						    width: 100px;
						    left: 50%;
						    margin-left: -50px;
						  	padding: 0 0;
						  	top: 100%;
						    background: #000;
						    text-align: center;
						    transition: all .4s ease-in-out;
							&.visible{
								height: 40px;
								width: 100px;
								  padding: 3px 5px;
								font-size: 13px;
							}
						}
					}
					[type=file]{
						width: 100%;
						height: 100%;
						opacity: 0;
						left: 0;
						top: 0;
						font-size: 0;
						text-align: left;
						position: absolute;
						&:hover{
							cursor: pointer;
						}
					}
				}
				.fantom{
					width: 0;
					height: 0;
					opacity: 0;
					pointer-events: all;
				}
				.drag-block{
						position: absolute;
						width: 100%;
						height: 100%;
						z-index: 999;
						background: rgba(0,0,0, .5);
						pointer-events: none;
						&.hidden{
							pointer-events: all;
						}
						span{
							display: inline-block;
							position: absolute;
							left: 50%;
							top: 50%;
							margin-top: -10px;
							margin-left: -40px;
							font-size: 18px;
							text-transform: uppercase;
							font-weight: bold;
						}
					}
				#editor{
					width: 100%;
					height: 100%;

				}
			}

		}