@import "_colors";
@import "_scrollbar";
@import "_mixins";
@import "fonts";
@import "../font-awesome/css/font-awesome.min";
@import "../libs/niceSelect/nice-select.css";
@import "../libs/autocomplete/jquery.flexdatalist.min.css";
@import "../libs/b2/style.css";
@import "../libs/range/range-slider.css";

@keyframes progress{
	0% {
		left: 0;
	}
	100% {
		left: 100%;

	}
}
*{
	box-sizing: border-box;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255, .9);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255, .9);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255, .9);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255, .9);
}
a{
	color: $textColor;
}
body{
	margin: 0px;

	padding: 0;
	min-width: 1000px;
	font-family: "OpenSans", Arial, Helvetica, sans-serif;

	&.fixed{
		overflow: hidden;
	}
	&.vertical{
		.wrap{
			float: left;
			width: 50%;
		}
		.anim-zone{
			width: 50%;
			float: left;
			// padding: 20px;
			.wrapper{
				height: 400px;
				width: 90%;
			}
		}
		.wrap .main-blocks{
			width: 100%;
			min-width: 300px;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;

			.props-block, .css-block{
				width: 100%;
			}
			.props-block{
				height: auto;

			}
			.css-block{
				margin-top: 28px;
			}
		}
	}

	#page-preloader {
	    position: fixed;
	    width: 100vw;
	    height: 100vh;
	    overflow: hidden;
	    right: 0;
	    bottom: 0;
	    background: #000;
	    z-index: 100500;
	}

	#page-preloader .spinner {
	    width: 152px;
	    height: 22px;
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    background: #FFF;
	    animation-name: infinite-all;
	    animation-duration: 1s;
	    animation-timing-function: linear;
	    animation-iteration-count: infinite;
	    // background: url('http://artelectronics.ru/preloader.gif') no-repeat 0 0;
	    margin: -11px 0 0 -77px;
	}

	.pause{
		-webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
   		 animation-play-state: paused;
	}
	.resume{
		-webkit-animation-play-state: running; /* Safari 4.0 - 8.0 */
   		 animation-play-state: running;
	}
	.hidden{
		display: none;
	}
	.active{
		display: block;
	}
	.flexdatalist-results{
		border: none !important;
		border-radius: 5px !important;
		max-height: 200px;
		background: transparent;
		box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
		li{
			background: #1d1f20;
			color: #fff;
			border: none;
			&.active{
				background: #343436;
			}
			span{
				&.item-value{
					display: none;
				}
				&.item-group-name{
					font-size: 10px;
				}
			}
		}
	}

	header{
		width: 100%;
		height: 50px;
		background: #000;
		&:before{
			content: "";
			height: 100%;
			display: inline-block;
			vertical-align: middle;
		}
		.logo-wrap{
			float: left;
			max-height: 100%;
			margin-left: 20px;
			margin-top: 5px;
			.slogan{
				display: inline-block;
				vertical-align: middle;
				line-height: 16px;
			}
			span{
				display: inline-block;
				color: #fff;
				font-size: 18px;
				vertical-align: middle;
				line-height: 1px;
				font-weight: 800;
				text-transform: uppercase;
				&.by{
					font-weight: 400;
					text-transform: none;
					font-size: 8px;
				}
			}
			img{
				vertical-align: middle;
				display: inline-block;
				width: 50px;
				max-height: 100%;
			}
		}
		.reg-controls{
			float: right;
			margin-right: 20px;
			.change-view, .about, .help{
				margin-top: 10px;
				height: 100%;
				border-radius: 1px;
				font-weight: 600;
				display: inline-block;
				padding: 5px 10px;;
				color: #fff;
				background: rgba(255,255,255, .2);

				&:hover{
					cursor: pointer;
					.change{
						display: inline-block;
						animation-name:  slideInLeft;
						animation-duration: .5s;
					}
					.view{
						display: inline-block;
						animation-name: hinge;
						animation-duration: 1s;
						animation-delay: 1s;
					}
				}
			}
			.sign-in, .sign-up{
				margin-top: 10px;
				border-radius: 5px;
				font-weight: 600;
				display: inline-block;
				padding: 5px 10px;;
				color: #fff;
				background: rgba(255,255,255, .2);
			}

		}
	}
	.wrap {
		width: 100%;
		height: auto;
		padding: 0;

		.h-border{
				height: 10px;
				width: 100%;
				background: $borderColor;
				z-index: 100;
			}
		.top-border {
			border-bottom: 1px solid #000;
			top: 0;
		}
		.bottom-border{
			border-top: 1px solid #000;
			border-bottom: 1px solid #000;
			bottom: 0;

		}

		@import "main-blocks";



	}
	.anim-zone{
		min-height: 400px;
		overflow: hidden;
		background: url(../img/bg.png);
		position: relative;
		.wrapper{
			width: 500px;
			height: 500px;
			position: relative;
			margin: 35px auto;
			border: 1px solid #000;
			.anim-element{
				img{
					max-width: 100%;
				}
			}
		}
		.edit-anim-el{
			position: absolute;
			width: 140px;
			background: $bg;
			color: #fff;
			padding: 5px 10px;
			font-size: 12px;
			box-sizing: border-box;
			transition: all .4s ease-in-out;

			&.active{
				width: 300px;
			}
			&:hover{
				cursor: pointer;
			}
		}
		.custom-el{
			position: absolute;
			top: 26px;;
			left: 0;
			z-index: 999;
			transform: translateX(-300px);
			transition: all .4s ease-in-out;
			&.visible{
				transform: translateX(0);
			}
			button{
				width: 50%;
				// display: inline-block;
				float: left;
				-webkit-border-radius: 0;
				border-radius: 0;
				height: 20px;
				font-size: 12px;
					background: #000;
				&:hover{
				background: #1a1c1d;
				}
			}
		}
		#editor-el{
			width: 300px;
			height: 200px;
		}
	}
}

.h-border{
				height: 10px;
				width: 100%;
				background: $borderColor;
				z-index: 100;
			}
		.top-border {
			border-bottom: 1px solid #000;
			top: 0;
		}
		.bottom-border{
			border-top: 1px solid #000;
			border-bottom: 1px solid #000;
			bottom: 0;

		}

@import "./timeline";

.tips-block, .about-block{
	background: rgba(0,0,0, .5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	z-index: 9999;
	font-size: 12px;
	overflow: hidden;
	transition: all .4s ease-in-out;
	&.hide{
		left: 50%;
		top: 50%;
		width: 0;
		height: 0;
	}
	.tip{
		box-sizing: border-box;
		width: 300px;
		position: absolute;
		font-size: 15px;
		border-radius: 15px;
		padding: 15px 25px;
		background: rgba(0,0,0, .5);
	}
	.tip1{

		top: 100px;
		left: 500px;
		.fa{
			position: absolute;
		    top: -24px;
		    left: 50%;
		    font-size: 36px;
		}
	}
	.tip2{
		top: 200px;
		left: 400px;
	}
	.tip3{
		top: 360px;
		left: 50%;
		margin-left: -50px;
		.fa{
			position: absolute;
		    bottom: -11px;
		    left: 43px;
		    transform: rotate(197deg);
		    font-size: 26px;
		}
	}
	.tip4{
		top: 350px;
		left: 60px;
		.fa{
			position: absolute;
		    font-size: 24px;
		    top: -16px;
		    transform: rotate(30deg);
		}

	}
	.skip-btn{
		width: 150px;
		height: 40px;
		text-align: center;
		font-size: 20px;
		background: #000;
		line-height: 38px;
		position: absolute;
		left: 50%;
		font-weight: bold;
		margin-left: -50px;
		bottom: 50px;
		transition: all .4s ease-in-out;
		box-shadow: 0 0px 15px #fff;
		animation-name: pulse-shadow;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		&:hover{
			cursor: pointer;
			background: #4d4d50;
		}
	}
}

.about-block{
	text-align: center;
	.about-wrap{
		width: 600px;
		height: 500px;
		border: none;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -250px;
		margin-left: -300px;
		background: rgba(0,0,0, .9);
		padding: 15px 20px;
		h2{
			margin: 0;
			font-size: 26px;
			margin-bottom: 30px
		}
		h3{
			margin-top: 20px;
			font-size: 20px;
			margin-bottom: 10px;
		}
		p{
			font-size: 14px;
			text-align: left;
			.fa{
				margin: 0 4px;
				font-size: 20px;
				font-weight: 300;
			}

		}
		.text{
			width: 250px;
			float: left;
			padding-top: 0px;

		}
		.photo{
			display: inline-block;
			width: 250px;
			float: left;
			margin-right: 20px;
			img{
				max-width: 100%;
			}
		}
	}
}




@keyframes hinge {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  20%, 60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }

  40%, 80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-40%, 0, 0);
    visibility: visible;
  }
  50% {
	    transform: translate3d(0, 0, 0);
  }
80%{
transform: translate3d(-20%, 0, 0);
}
to{
	transform: translate3d(0, 0, 0);
}

}


@keyframes pulse-shadow {
	0% {
			box-shadow: 0 0px 15px #fff;
	}
	50% {
		box-shadow: 0 0px 0px #fff;
	}
	100% {
		box-shadow: 0 0px 15px #fff;
	}

}


@keyframes infinite-all{
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}