@import "mobile/_contacts.scss";

.page-contacts{
	
}

.main-contacts{

	&__email{
		margin-bottom: 0;
	}

	&__social{
		@include min(992px){
			text-align: left;
		}
		.social-header{
			@include min(992px){
				margin-right: 30px;
			}
		}
	}
	&__social-b.social-block{
		@include min(992px){
			margin: 10px 0 0 0;
			display: inline-block;
		}
	}

	&__form{
		.input-group{
			margin-bottom: 20px;
		}

		.input-group--half{
			width: calc(50% - 18px);
			display: inline-block;
			margin-left: 30px;
			&:first-child{
				margin-left: 0;
			}
		}

		.input-group--textarea{
			textarea{
				height: 100px;
				
			}
		}
	}

}