$default-font: "ProximaNova", sans-serif;
$Museo: "MuseoCyrl 500", sans-serif;
$dark-grey-blue: #242331;
$light-grey: #898889;
$purple: #874463;
$hover-pink: #d34d64;
$light-brown: #d44e64;
$links-color: #d44e64;
$grey333 : #333;
